.userButton{
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.userButton img{
    width: 36px;
    height: 36px;
    border: 100%;
    object-fit: cover;
}

.userButton .arrow{
    cursor: pointer;
    width:16px;
    height: 16px;
}

.userOptions {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    z-index: 999;

}

.loginLink{
    font-size: 18px;
    padding: 16px;
    border-radius: 32px;
}

.loginLink:hover{
    background-color: #f1f1f1;
}